@charset "utf-8";
body {
	background: #f2f2f2;
}
.h5-1yyg-v1 {
	background: #ffffff;
	margin: 0 auto;
}
.h5-1yyg-w310 {
	margin: 0;
}
.h5-1yyg-w300 {
	width: 300px;
	margin: 0 auto;
}
.g-main:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
}
.g-main {
	zoom: 1;
	border-bottom: 8px solid #f0f0f0;
}
.hotimg {
	margin: 0 auto;
	height: 150px;
	background: #fff;
	overflow: hidden;
	border-bottom: 8px solid #f0f0f0;
}
.hotimg .flex-control-nav {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 0;
}
.hotimg .flex-control-nav a {
	width: 6px;
	height: 6px;
	border-radius: 6px;
	background: #000;
	display: inline-block;
	margin: 0 3px;
	opacity: 0.3;
}
.hotimg .flex-control-nav a.flex-active {
	background: #fff;
	opacity: 1;
}
.hotimg .slides {
	zoom: 1;
}
.hotimg .slides>li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.hotimg .slides li img {
	width: 320px;
	height: 150px;
	display: block;
	margin: 0 auto;
}
.m-tt1 {
	height: 30px;
	margin: 0;
}
.m-tt1 a {
	color: #6a6a6a;
}
.m-tt1 h2 {
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	overflow: hidden;
	padding: 0 0 0 10px;
	color: #F60;
}
.m-tt1 .u-more .z-arrow {
	width: 6px;
	height: 6px;
	float: right;
	margin: 4px 3px 0 0;
	border-width: 2px 2px 0 0;
}
.m-tt1 .u-more .u-rs-m1, .m-tt1 .u-more .u-rs-m2 {
	width: 60px;
	height: 20px;
	padding-top: 5px;
	display: inline-block;
	margin: 5px 5px 0 0;
}
.m-tt1 .u-more .u-rs-m2 {
	width: 60px;
	line-height: 16px;
	color: #999;
}
.m-tt1 .z-tips {
	margin-top: 12px;
	color: #ADADAD;
	padding-left: 5px;
	font-size: 10px;
}
.m-tt1 .z-rs-m1 {
	padding: 2px 0 1px 0;
	border-radius: 10px;
	border: 1px solid #FF6500;
	color: #FF6501;
	background: #fff;
	margin: 6px 6px 0 0;
	display: inline-block;
}
.m-lott-li {
	padding: 0;
}
.m-lott-conduct {
	border-bottom: 1px solid #EEE;
	text-align: center;
	padding: 7px;
	position: relative;
}
.m-lott-conduct p {
	height: 34px;
	overflow: hidden;
	color: #F60;
	text-align: left;
	line-height: 34px;
	background: #FFF49B;
	border-radius: 3px;
	font-size: 12px;
	padding: 0 13px 0 5px;
}
.m-lott-conduct p.z-lott-tt {
	padding: 0 130px 0 5px;
}
.m-lott-conduct a {
	color: #F60;
	display: block;
}
.m-lott-conduct .z-lott-time {
	position: absolute;
	right: 24px;
	top: 7px;
}
.m-lott-conduct .z-arrow {
	width: 5px;
	height: 5px;
	border-color: #FFC96C;
	border-width: 2px 2px 0 0;
	position: absolute;
	right: 15px;
	top: 20px;
}
.m-lott-conduct .z-user {
	max-width: 72px;
	height: 30px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
.m-lott-li li {
	width: 50%;
	height: 77px;
	float: left;
	padding: 7.5px;
	text-align: center;
	overflow: hidden;
	border-right: 1px solid #aeaeae;
	display: inline-block;
	-webkit-box-sizing: border-box;
}
#all_prod .m-lott-li > ul > li, #hot_prod .m-tj-li > ul > li {
	width: 100%;
	padding: 12px 7.5px;
	border-bottom: 1px solid #ccc;
}
#all_prod .m-lott-li li .u-lott-pic {
	width: 80px;
	height: 80px;
}
#all_prod .m-lott-li .u-lott-pic img {
	width: 80px;
	height: 80px;
}
.m-lott-li li .u-lott-pic {
	width: 60px;
	height: 60px;
	float: left;
	overflow: hidden;
	display: inline-block;
	border: 1px solid #aeaeae;
	border-radius: 8px;
}
.m-lott-li .u-lott-pic img {
	border-radius: 8px;
	width: 60px;
	height: 60px;
}
.m-lott-li li h3, .m-tj-li h3 {
	display: block;
	float: left;
	text-align: left;
	margin-left: 10px;
	width: 60%;
}
.m-lott-li li h3 span {
	height: 42px;
}
.m-tj-li h3 span:first-child {
	height: 30px;
}
.m-tj-li h3 span:nth-child(2) {
	margin-bottom: 5px;
}
.m-lott-li li h3 span, .m-tj-li h3 span {
	display: block;
	font-size: 12px;
	overflow: hidden;
}
.m-lott-li li h3 span:nth-child(2), .m-tj-li li h3 span:nth-child(2) {
	color: #bbb;
	font-size: 10px;
}
.m-lott-li li h3 .shi {
	float: right;
	color: #c40000;
	font-size: 16px;
}
.m-lott-li li h3 .lateron {
	color: #c40000;
	font-size: 12px;
}
.m-lott-li li .z-user {
	margin: 0 2px;
}
.m-lott-li li span a {
	max-width: 50px;
	overflow: hidden;
	display: inline-block;
}
/*@media only screen and (min-width:270px) and (max-width:470px) {
.m-lott-li li:nth-child(4n-4) {
display:none;
}*/
.m-lott-li li:nth-child(4n-2) {
	width: 50%;
	border-right: none;
}
.m-lott-li li span a {
	vertical-align: bottom;
	max-width: inherit;
	width: 60px;
	white-space: nowrap;
}
.m-lott-li li .z-user {
	margin: 0 1px 0 0;
}
#zuixin_jx .m-lott-li li:nth-child(4n-1) {
	height: 78px;
	border-top: 1px solid #aeaeae;
}
.m-lott-li li:nth-child(4n) {
	height: 78px;
	border-top: 1px solid #aeaeae;
	border-right: none;
}
/*
}
@media only screen and (min-width:470px) and (max-width:2280px) {
.m-lott-li li {
width:25%;
}
.m-lott-li li .u-lott-pic {
height:104px;
}
.m-lott-li .u-lott-pic img {
width:100px;
height:100px;
}
.m-lott-li li span a {
max-width:96px;
}
.m-lott-li li:nth-child(4n-4) {
border-right:none;
}
}*/
.m-tj-li {
	overflow: hidden;
}
.m-tj-li li {
	width: 50%;
	float: left;
	text-align: center;
	margin-top: -1px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	display: inline-block;
	-webkit-box-sizing: border-box;
}
.m-tj-li li .m-tj-pic {
	position: relative;
	margin: 10px auto;
}
.m-tj-li li .m-tj-pic ins {
	font-size: 10px;
	color: #999;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	position: absolute;
	bottom: 0;
	right: -1px;
	padding: 1px 5px 1px;
}
.m-tj-li .Progress-bar:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
}
.m-tj-li .Progress-bar {
	margin: 0;
	zoom: 1;
}
.m-tj-li .Progress-bar li:nth-child(2n-1) {
	float: left;
	color: #AEADAD;
	border: none;
	margin: 0;
	box-shadow: none;
	border-radius: none;
}
.m-tj-li li .m-tj-pic img {
	width: 80px;
	height: 80px;
	border-radius: 8px;
	display: block;
}
/*@media only screen and (min-width:270px) and (max-width:470px) {*/
.m-tj-li li .m-tj-pic {
	width: 80px;
	float: left;
	border-radius: 8px;
	border: 1px solid #b5b5b5;
	margin: 0;
}
.m-tj-li li:nth-child(2n-2) {
	border-right: none;
}/*
}
@media only screen and (min-width:470px) and (max-width:2280px) {
.m-tj-li li {
width:33%;
}
.m-tj-li li:nth-child(3n-3) {
width:34%;
border-right:none;
}
.m-tj-li li .m-tj-pic {
width:136px;
}
.m-tj-li li .m-tj-pic img {
width:136px;
height:136px;
}
}*/
.g-main .overflow {
	height: 183px;
	overflow: hidden;
}
.g-main .overflow .haveNot {
	line-height: 143px;
}
.g-main ul.slides div.loading {
	background-color: #FFF;
	margin-top: 70px;
	box-shadow: none;
}
.g-main ul.slides li.m-xs-li {
	display: none;
}
.g-main .flex-control-nav {
	height: 34px;
	margin-top: 11px;
	overflow: hidden;
	zoom: 1;
	text-align: center;
	position: relative;
	display: block;
}
.m-xs-line {
	height: 1px;
	margin-top: 10px;
	overflow: hidden;
	background: #E9E9E9;
}
.m-ct-time {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.m-ct-time li {
	float: left;
	width: 33%;
}
.m-ct-time li:nth-child(3n-3) {
	width: 34%;
}
.m-ct-time li b {
	border-radius: 14px;
	display: inline-block;
	padding: 0 8px 0 8px;
	line-height: 20px;
	font-size: 14px;
	color: #999;
	font-family: arial;
	margin: 0 auto;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #EDEDED));
	border: 1px solid #DFDFDF;
}
.m-ct-time li a {
	display: inline-block;
}
.m-ct-time li a.flex-active b {
	background: #f60;
	border: 1px solid #f60;
	color: #fff;
}
.m-ct-time li a.flex-active s {
	width: 0;
	height: 0;
	display: block;
	border: 5px solid transparent;
	border-top-color: #f60;
	margin: -1px auto 0 auto;
}
.m-xs-li {
	width: 310px;
	float: left;
}
.m-xs-ct {
	margin: 0 10px 0;
}
.m-xs-ct .z-aw-l, .m-xs-ct .z-aw-r {
	position: absolute;
}
.m-xs-ct .z-aw-l {
	top: 30px;
	left: 0;
	padding-left: 3px;
}
.m-xs-ct .z-aw-r {
	top: 30px;
	right: 0;
	padding-right: 3px;
}
.m-xs-ct .u-xs-pic {
	width: 102px;
	float: left;
}
.m-xs-ct .z-xs-pic {
	width: 100px;
	height: 100px;
	border: 1px solid #eee;
	border-radius: 3px 3px 0 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}
.m-xs-ct .z-xs-pic img {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 3px 3px 0 0;
}
.m-xs-ct .z-xs-time {
	height: 22px;
	font-size: 14px;
	padding: 0 5px;
	line-height: 22px;
	background: #f60;
	color: #ffd4b8;
	text-align: center;
	border-radius: 0 0 3px 3px;
}
.m-xs-ct .z-xs-time em {
	color: #fff;
}
.u-xs-con {
	margin-left: 107px;
	margin-bottom: 15px;
}
.u-xs-con .z-tt {
	line-height: 22px;
	max-height: 44px;
	overflow: hidden;
	font-size: 14px;
	display: inline-block;
	margin-top: 2px;
}
.u-xs-con .z-promo {
	display: block;
	line-height: 26px;
	font-size: 14px;
	color: #A1A1A1;
	margin-bottom: 5px;
	font-family: 寰杞榛;
}
.m-xs-End .z-xs-time {
	background: #999;
}
.m-xs-End .z-xs-time b {
	color: #fff;
}
.m-xs-End .u-xs-name {
	height: 55px;
	margin-top: 1px;
	overflow: hidden;
	color: #999;
	display: block;
}
.m-xs-End .u-xs-name-img {
	float: left;
}
.m-xs-End .u-xs-name-img a {
	display: block;
}
.m-xs-End .u-xs-name-img img {
	width: 50px;
	margin-top: 0;
	border-radius: 3px;
}
.m-xs-End .u-xs-name-r {
	margin: 1px 0 3px 53px;
}
.m-xs-End .u-xs-name-r .z-user {
	max-width: 70px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}
.m-xs-End .u-xs-name-r p {
	margin-bottom: 3px;
}
.m-xs-End .u-xs-con .z-promo {
	line-height: 20px;
	margin-bottom: 5px;
}
.m-xs-End .u-xs-con .Progress-bar .pging {
	background: #bbb;
}
/* wx_distribution */
header {
	height: 50px;
	background: url(../images/index_header.png) repeat-x;
	padding: 3px 15px;
	box-sizing: border-box;
	background-size: 320px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1000;
	top: 0;
	margin-top: 0;
	opacity: 0.8;
}
header .index_user_img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
header p {
	display: inline-block;
	vertical-align: super;
	padding: 0 10px;
}
.index_img {
	padding: 45px 0 35px 0;
}
.index_img p {
	width: 100%;
}
.index_img img {
	display: block;
	width:100%;
}
footer {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1111;
}
footer li {
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}
footer li a {
	width: 40px;
	height: 40px;
	display: block;
}
footer li a.index_voice {
	background: url(../images/voice_off.png) no-repeat center center;
	background-size: 100%;
}
footer li a.index_voice.on {
	background: url(../images/voice_on.png) no-repeat center center;
	background-size: 100%;
}
footer li a.index_usercenter {
	background: url(../images/usercenter_icon.png) no-repeat center center;
	background-size: 100%;
}
footer li a.index_myorder {
	background: url(../images/myorder_icon.png) no-repeat center center;
	background-size: 100%;
}
.home_nav {
	position: relative;
	height: 50px;
	border-bottom: 1px solid #cdcdcd;
	background: #fff;
}
.home_nav a {
	position: absolute;
	top: -30px;
	left: 10px;
}
.home_nav a img {
	width: 60px;
	height: 60px;
	border: 1px solid #f2f2f2;
	box-shadow: 0px 0px 1px #666;
	background: #fff;
	border-radius: 5px;
}
.goodsList_wrap {
	padding:8px;
	}
.goodsList {
  clear: both;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  BOX-SIZING: border-box;
}
.goodsList ul {
	float:left;
  padding: 8px;
  position: relative;
  overflow: hidden;
  margin-top: -1px;
  display: inline-block;
  width: 48.7%;
  background: #fff;
  -webkit-box-sizing: border-box;
  margin-right: 2.6%;
  margin-bottom: 3%;
} 
.goodsList ul:nth-child(2n) {
  margin-right: 0;
}
.goodsList li {
  text-align: center;
}
.goodsList a.z-Limg {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.goodsList a img {
  width: 132px;
  height: 132px;
  display: inline-block;
  overflow: hidden;
  border-radius: 8px;
}
.goodsList .goodsListR h2 {
  
  display: block;
  color: #666;
  line-height: 18px;
  text-align: left;
  font-size: 12px;
}
.goods_p { text-align:left; line-height:30px; }
.del_gray { text-decoration:line-through; color:#bbb; padding-left:10px; }
/* touchslider 插件 css */
.slideBox {
	position: relative;
	width: 100%;
	height: 252px;
	overflow: hidden;
	margin: 0 auto;
}
.slideBox .hd {
	position: absolute;
	height: 28px;
	line-height: 28px;
	bottom: 0;
	left: 50%;
	z-index: 1;
}
.slideBox .hd li {
	display: inline-block;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #999;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 6px;
}
.slideBox .hd li.on {
	background: #fff;
}
.slideBox .bd {
	position: relative;
	z-index: 0;
}
.slideBox .bd li {
	position: relative;
}
.slideBox .bd li img {
	width: 100%;
	height: 252px;
	display: block;
}
.slideBox .bd li a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 取消链接高亮 */
}