body{ margin:0; background-color:#FF0066; font-family: "Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","Helvetica", "Arial", "sans-serif"; font-size:14px;}
.border{max-width:640px; min-width:320px; margin:0 auto;}
.top{ background:url(../../images/block.png); height:130px; }
.toux{ float: left; margin-left:20px; margin-top:20px; }
.toux img{border-radius: 100px;width: 73px; height: 73px;}
.top p{float: left; font-size: 17px; line-height: 40px; text-align: left; padding-left: 13px; padding-top:16px;}
.top p span{color:#FF0000}
.info{font-size:17px; color:#FFFFFF}
